body {
  -webkit-box-shadow: inset 0 0 200px #000000;
  box-shadow: inset 0 0 200px #000000;
  margin: 0px;
}

body .main_background {
  position: fixed;
  z-index: 1;
  display: block;
  background-image: url("../img/profile_photo.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 533px) {
  body .main_background {
    background-image: none;
  }
}

.card_parent {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

@media (max-width: 533px) {
  .card_parent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.card_parent .card {
  background-color: #ffffff;
  width: 533px;
  border-radius: 15px;
  position: relative;
}

@media (max-width: 533px) {
  .card_parent .card {
    width: 100%;
    overflow-x: hidden;
    border-radius: 0px;
  }
}

.card_header {
  background-image: url("../img/profile_photo.png");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  height: 447px;
}

@media (max-width: 533px) {
  .card_header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.card_header .card_header__navbar {
  color: #ffffff;
}

.card_header .card_header__navbar .card_header__navbar__left {
  padding-left: 32px;
}

.card_header .card_header__navbar .card_header__navbar__left i {
  font-size: 34px;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
}

.card_header .card_header__navbar .card_header__navbar__left i:hover {
  text-shadow: -1px 0 #3f87db, 0 1px #3f87db, 1px 0 #3f87db, 0 -1px #3f87db;
}

.card_header .card_header__navbar .card_header__navbar__middle {
  text-align: center;
  margin-top: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.card_header .card_header__navbar .card_header__navbar__right {
  margin-top: 32px;
  padding-right: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card_header .card_header__navbar .card_header__navbar__right .hamburger {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.card_header .card_header__navbar .card_header__navbar__right .hamburger:hover div {
  border: 1px solid #3f87db;
}

.card_header .card_header__navbar .card_header__navbar__right .hamburger div {
  width: 34px;
  height: 4px;
  background-color: #ffffff;
  margin: 4px auto;
}

.card_header .card_header__navbar .card_header__text__left {
  padding-left: 80px;
}

@media (max-width: 533px) {
  .card_header .card_header__navbar .card_header__text__left {
    padding-left: 0px;
  }
}

.card_header .card_header__navbar .card_header__text__right {
  padding-right: 80px;
}

@media (max-width: 533px) {
  .card_header .card_header__navbar .card_header__text__right {
    padding-right: 0px;
  }
}

.card_header .card_header__navbar .card_header__text div {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.card_header .card_header__navbar .card_header__text .card_header__text__numbers {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 240px 0px 6px;
}

.card_header .card_header__navbar .card_header__text .card_header__text__title {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.card_header .card_header__navbar .card_header__text .card_header__text__title:hover {
  text-shadow: -1px 0 #3f87db, 0 1px #3f87db, 1px 0 #3f87db, 0 -1px #3f87db;
}

.card_header .card_header__navbar .middle_circle {
  height: 76px;
  width: 76px;
  background-color: #3f87db;
  position: absolute;
  bottom: -38px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 50%;
}

.card_header .card_header__navbar .middle_circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_content .card_content__title {
  margin-top: 76px;
}

.card_content .card_content__title p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  color: #95989a;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.card_content .card_content__title p:nth-child(2) {
  margin: 5px auto;
  font-size: 15px;
  font-weight: 300;
}

.card_content .card_content__title p:nth-child(3) {
  width: 50px;
  margin: 0px auto;
  border-top: 1px solid #95989a;
  margin-bottom: 20px;
}

.card_content .card_content__title p:nth-child(4) {
  text-align: center;
  padding: 0px 75px;
  color: #95989a;
  font-size: 20px;
  font-weight: 400;
}

.card_content .card_content_button {
  margin: 85px 0px 40px;
}

.card_content .card_content_button button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
  background-color: #3f87db;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #3f87db;
  padding: 15px 74px;
  cursor: pointer;
}

.card_content .card_content_button button:hover {
  border: 1px solid #3f87db;
  background-color: #ffffff;
  color: #3f87db;
}

.toogle_menu_bar {
  position: absolute;
  top: 70px;
  bottom: 396px;
  left: 0;
  right: 0;
  background-color: #3f87db;
  overflow: hidden;
  width: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 100% 55px;
  z-index: 5;
}

@media (max-width: 533px) {
  .toogle_menu_bar {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}

.toogle_menu_bar h4 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.toogle_menu_bar ul {
  text-align: center;
  padding: 0;
  margin-top: 40px;
}

.toogle_menu_bar ul li {
  list-style-type: none;
  margin: 10px 0px;
}

.toogle_menu_bar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.overlay {
  width: 35%;
}
/*# sourceMappingURL=style.css.map */